{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block body %}
  {% with WIDGET_ERROR_CLASS='is-invalid' %}
    <form method="post">
      {% csrf_token %}
      <div class="modal-content">
        <div class="modal-header">
          <h1>Forgotten your password?</h1>
        </div>
        <div class="modal-body">
          <p>Enter your e-mail address to obtain a new password.</p>
          {% crispy form %}
        </div> 
        <div class="modal-footer">
          <p><input type="submit" class="btn btn-primary" value="Send e-mail"></p>
            {% comment %} <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
            <button type="submit" class="btn btn-primary">Update</button> {% endcomment %}
        </div> 
    </div>
     
    </form>
  {% endwith %}
{% endblock %}
