{% load thumbnail %}
{% load social_share %}

{% for post in posts.children %}
    <div class="card">
        <div id="{{post.id}}" class="card-header">
            <h5  class="blog-post-title">
                <a href="/{{posts.slug}}">Re: {{posts.title}}</a>
                <small>by</small> <span style="font-size: 18px;"><a class="user" href="#" hx-get="/account/user_profile/{{post.author.id}}/" hx-target="#dialog">{{post.author}}</a> </span> 
                <span style="font-size: 12px;">{{post.dateTime}}</span>
            </h5>    
        </div>
        <div class="card-body" style="font-size:13px">
            <h6 class="card-text">{{post.content|safe}}</h6>
            {% if user.id == post.author.id %}<a href="#" class="font-weight-bold user" hx-get="/sub/update_sub_comment/{{post.id}}/" hx-target="#dialog">(Modify)</a> {% endif %}
            {% if user.id != post.author.id %}<a href="#" class="font-weight-bold user" hx-get="/sub/reply_sub_post/{{post.id}}/" hx-target="#dialog">(Quote)</a>{% endif %}
            <!-- Like/Unlike Post-->
            | {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                <span class="count">
                    <span class="total">{{ total_likes }}</span> 
                    like{{ total_likes|pluralize }}
                </span>
                {% if user.is_authenticated %}
                    <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button font-weight-bold user" >
                        {% if request.user not in users_like %} Like {% else %} Unlike {% endif %}
                    </a>
                {% endif %}
            {% endwith %}
            <!-- end -->
            | <a class="font-weight-bold user" href="#" hx-get="{% url 'MyBlog:sub_post_share' post.id %}" hx-target="#dialog">Email</a>
            | {% post_to_facebook object_or_url "Facebook" %}
            | {% post_to_telegram object_or_url "Telegram" %}
            | {% post_to_twitter object_or_url "Twitter" %}
            | {% post_to_whatsapp object_or_url "Whatsapp" %}
        </div> 

        {% if post.image1 %}<div class="mb-2"><img src="/media/{{post.image1}}" class="img-fluid mb-1"></div>{% endif %}
        {% if post.image2 %}<div class="mb-2"><img src="/media/{{post.image2}}" class="img-fluid mb-1"></div>{% endif %}
        {% if post.image3 %}<div class="mb-2"><img src="/media/{{post.image3}}" class="img-fluid mb-1"></div>{% endif %}
        {% if post.image4 %}<div class="mb-2"><img src="/media/{{post.image4}}" class="img-fluid"></div>{% endif %}
    </div>
{% endfor %}

{% if posts.has_other_pages %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a>
                </li>
            {% else %}
                <li class="page-link disabled" aria-disabled="true"><span>Previous</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                    <li class="page-item active">
                        <a class="page-link">{{ i }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.next_page_number }}">Next</a>
                </li>
            {% else %}
                <li class="page-link disabled"><span>Next</span></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}