{% extends 'base.html' %}
{% load i18n %}

{% block title %} {% trans "Across Globe Reporting" %} {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

{% endblock %}

{% block body %}

<span id="up"></span>

{% include "blog/menus.html" %}

<div class="vertipics mt-2 mb-2 text-center">
  {% for ad in ads %}
    {% if ad.adslot == 1 %}
      {% if ad.advert_id != Null %}
        <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
      {% else %}
        <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
      {% endif %} 
    {% endif %}

    {% if ad.adslot == 2 %}
      {% if ad.advert_id != Null %}
        <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
      {% else %}
        <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
      {% endif %} 
    {% endif %}

    {% if ad.adslot == 3 %}
      {% if ad.advert_id != Null %}
        <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
      {% else %}
        <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
      {% endif %} 
    {% endif %}
  {% endfor %}
</div>

{% include "blog/blog_list_ajax.html" %}

<div class="vertipics mt-2 mb-2 text-center">
  {% for ad in ads %}
    {% if ad.adslot == 4 %}
      {% if ad.advert_id != Null %}
        <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
      {% else %}
        <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
      {% endif %} 
    {% endif %}

    {% if ad.adslot == 5 %}
      {% if ad.advert_id != Null %}
        <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
      {% else %}
        <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
      {% endif %} 
    {% endif %}

    {% if ad.adslot == 6 %}
      {% if ad.advert_id != Null %}
        <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
      {% else %}
        <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
      {% endif %} 
    {% endif %}
  {% endfor %}
</div>


{% include "blog/membersonline.html" %}

<div id="down" class="mt-3 mb-2 text-center">
  <b><a href="#up">(Go Up)</a></b>
</div>

{% endblock %}


{% block domready %}
  var page = 1;
  var empty_page = false;
  var block_request = false;

  $(window).scroll(function() {
    var margin = $(document).height() - $(window).height() - 200;
    if($(window).scrollTop() > margin && empty_page == false && block_request == false) {
      block_request = true;
      page += 1;
      $.get('?page=' + page, function(data) {
        if(data == '') {
          empty_page = true;
        }
        else {
          block_request = false;
          $('#image-list').append(data);
        }
      });
    }
  });
{% endblock %}


{% block js %} 

{% endblock %}