{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load humanize %}

{% block title %} {{category.category_title}} - acrossGlobe {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}

{% endblock %}

{% block body %}
  <div class="text-center">
    <h2 class="card-title">{{category.category_title}} - Across Globe</h2>
    <p><b font-size:18px><a href="/">Across globe</a> / <a href="/cat/{{cattype.id}}">{{cattype.type}}</a> / <a href="/{{category.slug}}/{{category.id}}">{{category.category_title}}</a></b></p>
    <div class="container">
      {% for sub in subcategories %}
          {% if sub.category_id == category.id %}
            <div class="card-header">
              <a href="/en/sub/{{sub.slug}}/"><b>{{sub.title}}</b></a> - {{sub.sub_title}}
            </div>
          {% endif %}
      {% endfor %}
    </div>
    {% comment %} <p class="mt-3"><a href="/en/{{category.slug}}/{{category.id}}">{{category.category_title}}</a>: <a>{{category.sub_title}} <b>Ad Rate:{{category.adrate|floatformat:2|intcomma}}</b>/week ({{category.discount}}% premium) </a></p> {% endcomment %}
  </div>

  <div class="vertipics mt-2 mb-2 text-center">
    {% for ad in ads %}
      {% if ad.adslot == 1 %}
        {% if ad.advert_id != Null %}
          <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
        {% else %}
          <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
        {% endif %} 
      {% endif %}

      {% if ad.adslot == 2 %}
        {% if ad.advert_id != Null %}
          <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
        {% else %}
          <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
        {% endif %} 
      {% endif %}

      {% if ad.adslot == 3 %}
        {% if ad.advert_id != Null %}
          <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
        {% else %}
          <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
        {% endif %} 
      {% endif %}
    {% endfor %}
  </div>

  <div class="text-center mt-2 mb-2">
    <a href="#" hx-get="{% url 'MyBlog:add_post' category.id %}" hx-target="#dialog">(Create New Topic)</a>
    {% comment %} <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog"> (Advertise in {{category.category_title}})</a> {% endcomment %}
    <a href="#" hx-get="{% url 'MyBlog:mail_moderator' category.id %}" hx-target="#dialog">(Mail Moderators)</a>
  </div>

  {% include "blog/blog_list_ajax.html" %}

  <div class="vertipics mt-2 mb-2 text-center">
    {% for ad in ads %}
      {% if ad.adslot == 4 %}
        {% if ad.advert_id != Null %}
          <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
        {% else %}
          <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
        {% endif %} 
      {% endif %}

      {% if ad.adslot == 5 %}
        {% if ad.advert_id != Null %}
          <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
        {% else %}
          <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
        {% endif %} 
      {% endif %}

      {% if ad.adslot == 6 %}
        {% if ad.advert_id != Null %}
          <a href="{{ad.advert.urllink}}"><img src="/media/{{ad.advert.image}}"></a>
        {% else %}
          <a href="#" hx-get="{% url 'campaign:adverts' %}" hx-target="#dialog" rel=sponsored><img src="/media/logo/freeads.jpeg"></a>
        {% endif %} 
      {% endif %}
    {% endfor %}
  </div>
{% endblock %}


{% block domready %}
    {% comment %} $(document).ready(function () {
      // Sign up button
      $("#signup-btn").modalForm({
        formURL: "{% url 'MyBlog:add_newtopic' category.id %}"
      });
    }); 
  </script>{% endcomment %}
{% endblock %}



<!--https://realpython.com/django-pagination/-->

{% block js %}

{% endblock %}