{% extends 'base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load humanize %}

{% block title %} {{subcategories.title}} - acrossGlobe {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}
  table { border-collapse: collapse; }
  tr { display: block; float: left; }
  th, td { display: block; border: 1px; }
{% endblock %}
{% block body %}

<div class="text-center">
  <h2 class="card-title">{{subcategories.title}} - Across Globe</h2>
  <p><b font-size:18px><a href="/">Across globe</a> / <a href="/{{category.slug}}/{{category.id}}">{{category.category_title}}</a> / <a href="/sub/{{subcategories.slug}}/">{{subcategories.title}}</a></b></p>
  {% comment %} <p class="mt-3"><a href="/sub/{{subcategories.slug}}/">{{subcategories.title}}</a>: <a>{{subcategories.title}} <b>Ad Rate:{{category.adrate|floatformat:2|intcomma}}</b>/week ({{category.discount}}% premium) </a></p> {% endcomment %}
</div>


{% comment %} <div class="vertipics mt-2 mb-2 text-center">
  <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog" rel=sponsored><img src="https://www.nairaland.com/vertipics/6ez6otwqpwazgmvtld26kw3q2roijgou.png"></a>
  <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog" rel=sponsored><img src="https://www.nairaland.com/vertipics/iqax0ww60vcft2zqxgm9ocus2dq86ae0.jpg"></a>
  <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog" rel=sponsored><img src="https://www.nairaland.com/vertipics/1cqm2xehafkcin1q0te5z27n9tz69oy6.jpg"></a>
</div> {% endcomment %}

<div class="text-center mt-2 mb-2">
  {% if subcategories.title == 'Muslims Forum' %}
      <a href="#" hx-get="{% url 'MyBlog:add_sub_post' subcategories.id %}" hx-target="#dialog">(Create New Topic)</a>
  {% elif not subcategories.title == 'Muslims Forum' and user.is_superuser %}
      <a href="#" hx-get="{% url 'MyBlog:add_sub_post' subcategories.id %}" hx-target="#dialog">(Create New Topic)</a>
  {% endif %}
  {% comment %} <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog"> (Advertise in {{subcategories.title}})</a> {% endcomment %}
  <a href="#" hx-get="{% url 'MyBlog:mail_moderator' subcategories.id %}" hx-target="#dialog">(Mail Moderators)</a>
</div>

{% include "blog/blog_sub_category_ajax.html" %}

{% comment %} <div class="vertipics mt-2 mb-2 text-center">
  <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog" rel=sponsored><img src="https://www.nairaland.com/vertipics/6ez6otwqpwazgmvtld26kw3q2roijgou.png"></a>
  <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog" rel=sponsored><img src="https://www.nairaland.com/vertipics/iqax0ww60vcft2zqxgm9ocus2dq86ae0.jpg"></a>
  <a href="#" hx-get="{% url 'MyBlog:adverts' %}" hx-target="#dialog" rel=sponsored><img src="https://www.nairaland.com/vertipics/1cqm2xehafkcin1q0te5z27n9tz69oy6.jpg"></a>
</div> {% endcomment %}

      


{% endblock %}


{% block domready %}
    {% comment %} $(document).ready(function () {
      // Sign up button
      $("#signup-btn").modalForm({
        formURL: "{% url 'MyBlog:add_newtopic' category.id %}"
      });
    }); 
  </script>{% endcomment %}
{% endblock %}



<!--https://realpython.com/django-pagination/-->

{% block js %}
<style>
    #loading {
        transition: opacity 1s ease-out;
        opacity: 1;
    }
</style>
<script>
  

{% comment %} <div id="loading">Loading...</div> {% endcomment %}

    
</script>
{% endblock %}