{% load thumbnail %}
{% load social_share %}

{% comment %} {% for post in posts.children %} {% endcomment %}
{% for post in comments %}
    {% comment %} {% if post.is_parent %} {% endcomment %}
        <div id="{{post.id}}" class="card shadow">
            <div class="card-header">
                <h5 class="blog-post-title">
                    <a href="/{{posts.slug}}">Re: {{posts.title}}</a>
                    <small>by</small> <span style="font-size: 18px;"><a class="user" href="#" hx-get="/account/user_profile/{{post.author.id}}/" hx-target="#dialog">{{post.author}}</a> </span> 
                    <span style="font-size: 12px;">{{post.dateTime}}</span>
                </h5>    
            </div>
            <div class="card-body bg-gradient-secondary" style="font-size:13px">
                <h6 class="card-text">{{post.content|safe}}</h6>

                {% comment %} {% post %} <a href="#" hx-get="{% url 'MyBlog:reply_post' post.id %}" hx-target="#dialog">(Reply)</a> {% endpost %} {% endcomment %}
                {% if user.id == post.author.id %} 
                    <a href="#" class="font-weight-bold user" hx-get="{% url 'MyBlog:update_comment' post.id %}" hx-target="#dialog">(Modify)</a> 
                {% endif %}
                {% if user.id != post.author.id %} 
                    <a href="#" class="font-weight-bold user" hx-get="{% url 'MyBlog:reply_post' post.id %}" hx-target="#dialog">(Quote)</a>
                {% endif %}
                | <a href="#" class="font-weight-bold user" hx-get="{% url 'MyBlog:report_post' post.id %}" hx-target="#dialog">(Report)</a>

                <!-- Like/Unlike Post-->
                | {% with total_likes=post.users_like.count users_like=post.users_like.all %}
                    <span class="count">
                        <span class="total">{{ total_likes }}</span> 
                        like{{ total_likes|pluralize }}
                    </span>
                    {% if user.is_authenticated %}
                        <a href="#" data-id="{{ post.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button font-weight-bold user">
                            {% if request.user not in users_like %} 
                                Like 
                            {% else %} 
                                Unlike 
                            {% endif %}
                        </a>
                    {% endif %}
                {% endwith %}
                <!-- end -->
                
                | <a class="font-weight-bold user" href="#" hx-get="{% url 'MyBlog:post_share' post.id %}" hx-target="#dialog">Email</a>
                | {% post_to_facebook object_or_url "Facebook" %}
                | {% post_to_telegram object_or_url "Telegram" %}
                | {% post_to_twitter object_or_url "Twitter" %}
                | {% post_to_whatsapp object_or_url "Whatsapp" %}
            </div> 

            {% if post.image1 %}<div class="mb-1"><img src="/media/{{post.image1}}" class="img-fluid mb-1"></div>{% endif %}
            {% if post.image2 %}<div class="mb-1"><img src="/media/{{post.image2}}" class="img-fluid mb-1"></div>{% endif %}
            {% if post.image3 %}<div class="mb-1"><img src="/media/{{post.image3}}" class="img-fluid mb-1"></div>{% endif %}
            {% if post.image4 %}<div class="mb-1"><img src="/media/{{post.image4}}" class="img-fluid"></div>{% endif %}
        
            {% for replies in post.children %}
                <div id="{{replies.id}}" class="card">
                    <div class="card-header">
                        <h5 class="blog-post-title">
                            <a href="/{{post.slug}}/">Re: {{post.title}}</a>
                            <small>by</small> <span style="font-size: 18px;"><a href="#" class="user" hx-get="/account/user_profile/{{replies.author.id}}/" hx-target="#dialog">{{replies.author}}</a> </span> 
                            <span style="font-size: 12px;">{{replies.dateTime}}</span>
                        </h5>    
                    </div>
                    <div class="card-body">
                        <h7 class="card-text">{{replies.content|safe}}</h7>
                        {% comment %} {% post %} <a href="#" hx-get="{% url 'MyBlog:reply_post' post.id %}" hx-target="#dialog">(Reply)</a> {% endpost %} {% endcomment %}
                        {% if user.id == replies.user.id %} <a href="#" class="font-weight-bold user" hx-get="{% url 'MyBlog:update_reply_post' replies.id %}" hx-target="#dialog">(Modify)</a> {% endif %}
                        <a href="#" class="font-weight-bold user" hx-get="{% url 'MyBlog:reply_post' replies.id %}" hx-target="#dialog">(Quote)</a>

                        <!-- Like/Unlike Post-->
                        {% if user.id != replies.user.id %} 
                            | {% with total_likes=replies.users_like.count users_like=replies.users_like.all %}
                                <span class="count">
                                    <span class="total">{{ total_likes }}</span> like{{ total_likes|pluralize }} 
                                </span>
                                {% if user.is_authenticated %}
                                    <a href="#" data-id="{{ replies.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button font-weight-bold user">
                                        {% if request.user not in users_like %} 
                                            Like 
                                        {% else %} 
                                            Unlike 
                                        {% endif %}
                                    </a>
                                {% endif %}
                            {% endwith %}
                        {% endif %} 
                        <!-- end -->

                        {% comment %} | <a class="font-weight-bold user" href="#" hx-get="{% url 'MyBlog:post_share' post.id %}" hx-target="#dialog">Email</a> {% endcomment %}
                        | {% post_to_facebook object_or_url "Facebook" %}
                        | {% post_to_telegram object_or_url "Telegram" %}
                        | {% post_to_twitter object_or_url "Twitter" %}
                        | {% post_to_whatsapp object_or_url "Whatsapp" %}
                    </div> 

                    {% if replies.image1 %}<div class="mb-2"><img src="/media/{{replies.image1}}" class="img-fluid mb-1"></div>{% endif %}
                    {% if replies.image2 %}<div class="mb-2"><img src="/media/{{replies.image2}}" class="img-fluid mb-1"></div>{% endif %}
                    {% if replies.image3 %}<div class="mb-2"><img src="/media/{{replies.image3}}" class="img-fluid mb-1"></div>{% endif %}
                    {% if replies.image4 %}<div class="mb-2"><img src="/media/{{replies.image4}}" class="img-fluid"></div>{% endif %}

                </div>
            {% endfor %}
        </div>
    {% comment %} {% endif %} {% endcomment %}
{% endfor %}


{% comment %} {% if posts.has_other_pages %}
    <nav aria-label="Page navigation conatiner">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
            {% else %}
                <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in posts.paginator.page_range %}
                {% if posts.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
            {% else %}
                <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
        </ul>
    </nav>
{% endif %}

{% if posts.has_other_pages %}
    <nav aria-label="Page navigation conatiner">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li><a href="?page={{ posts.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in posts.paginator.page_range %}
        {% if posts.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if posts.has_next %}
        <li><a href="?page={{ posts.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    </nav>
{% endif %}


        {% for f in postfiles %}
            {% if f.post_id == post.id %}
            <img src="{% thumbnail f.file 500x500 %}" class="mb-2">
            {% post %} <image src="/media/{{f.file}}" alt="" height="200px" width="500px"><br><br>
            {% endif %}
        {% endfor %}
        
        {% for reply in replypost %}
            <div class="card">
                <div class="card-header">
                    <h5 class="blog-post-title">
                        <a href="/blog/{{post.slug}}">Re: {{post.title}}</a>
                        <small>by</small> 
                        <span style="font-size: 18px;">
                        <a href="#" hx-get="/user_profile/{{reply.replier_name_id}}/" hx-target="#dialog">{{reply.replier_name}}</a> </span> 
                        <span style="font-size: 12px;">{{reply.replied_date}}</span>
                    </h5>    
                </div>
                <div class="card-body">
                    <div class="card">
                        <div class="card-body" style="background-color: #ADD8E6;">
                            <h7 class="card-text">{{ reply.post|safe }}</h7>
                        </div>
                    </div> 
                </div>
            </div>
        {% endfor %}
        <a href="/reply_post/{{post.slug}}/{{post.id}}">(Reply)</a>
    </div>
{% endfor %} {% endcomment %}