{% extends 'base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load humanize %}

{% block title %} Category List - acrossGlobe {% endblock %}
{% block homeactive %} active {% endblock homeactive %}

{% block css %}
{% endblock %}

{% block body %}
    <div class="card mt-2">
        <div class="card-header">
            Categories List
        </div>
        <div class="card-body">
            <form action="{{request.path}}" method="POST">
                <button type="button" hx-get="/add_category/" hx-target="#dialog" class="btn btn-primary">Add Category</button>
                <div class="float-end">
                    <select class="js-example-basic-single form-control" placeholder="Order by" name="username">
                        <option value="Alphebetically">Alphebetically</option>
                        <option value="Popularity">Popularity</option>
                    </select>
                </div>
                <div class="border mt-3 mb-2">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                {% comment %} <th>Type</th> {% endcomment %}
                                <th>Title</th>
                                <th>Sub Title</th>
                                <th>Moderators Email</th>
                                <th>Ad Rate</th>
                                <th>Discount(%)</th>
                                <th>...</th>
                            </tr>
                        </thead>
                        <tbody hx-trigger="load, ListChanged from:body" hx-target="this">
                        {% for category in categories %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                {% comment %} <td>{{ category.type }}</td> {% endcomment %}
                                <td>{{ category.category_title }}</td>
                                <td>{{ category.sub_title }}</td>
                                <td>{{ category.moderatoremail }}</td>
                                <td>&#8358;{{ category.adrate|floatformat:2|intcomma }}</td>
                                <td>{{ category.discount }}</td>
                                <td><button type="button" hx-get="{% url 'MyBlog:edit_category' pk=category.pk %}" hx-target="#dialog" class="btn btn-primary">Edit</button></td>
                            </tr>
                            {% for sub in subcategories %}
                                {% if sub.category_id == category.id %}
                                    <tr>
                                        <td>...</td>
                                        {% comment %} <td>{{ category.category_title }}</td> {% endcomment %}
                                        <td>{{ sub.title }}</td>
                                        <td>{{ sub.sub_title }}</td>
                                        <td>{{ sub.moderatoremail }}</td>
                                        <td>&#8358;{{ sub.adrate|floatformat:2|intcomma }}</td>
                                        <td>{{ sub.discount }}</td>
                                        <td><button type="button" hx-get="{% url 'MyBlog:edit_category' pk=category.pk %}" hx-target="#dialog" class="btn btn-danger">Edit</button></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor%}
                        </tbody>
                    </table>
                </div>
            </form>
            {% comment %} <div class="border" style="height: 65vh; overflow-y: auto; font-size:13px">
                <div class="container col-sm-12 fw-bold">
                    <div class="row text-left border">
                        <div class="col-sm-2 border">Type</div>
                        <div class="col-sm-2 border">Title</div>
                        <div class="col-sm-3 border">Sub Title</div>
                        <div class="col-sm-2 border">Moderators email</div>
                        <div class="col-sm-2 border">Ad Rate / Discount </div>
                        <div class="col-sm-1 border">...</div>
                    </div>
                </div>
                {% for category in categories %}
                    <div class="container col-sm-12">
                        <div class="row border">
                            <div class="col-sm-2 border"> {{ category.type }} </div>
                            <div class="col-sm-2 border"> {{ category.category_title }} </div>
                            <div class="col-sm-3 border"> {{ category.sub_title }} </div>
                            <div class="col-sm-2 border"> {{ category.moderatoremail }} </div>
                            <div class="col-sm-2 border"> {{ category.adrate|floatformat:2|intcomma }} / {{ category.discount }}% </div>
                            <div class="col-sm-1 border"><a href="#" hx-get="{% url 'MyBlog:edit_category' pk=category.pk %}" hx-target="#dialog">Edit</a></div>
                        </div>
                    </div>
                {% endfor%}
            </div> {% endcomment %}
        </div>
    </div>
{% endblock %}

{% block js %}
{% comment %} <script>
    {% if alert %}
    alert('Category added successfully.');
    document.location = '/';
    {% endif %}
</script> {% endcomment %}
{% endblock %}