<li class="nav-item dropdown notification-section">
    <a href="#" class="notification dropdown-toggle" id="navbarDropdown" role="button"
        data-bs-toggle="dropdown" aria-expanded="true">
        <span><i class='fa fa-bell'></i></span>
        <span class="badge" id="notification-badge">0</span>
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" id="notifications-dropdown" data-popper-placement="bottom-end"
        style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(-70px, 42px, 0px);">
        
        {% for i in notifications %}
        <li class="dropdown-item">{{i.message}}</li>
        <hr class="dropdown-divider">
        {% endfor %}
        {% comment %} <li class='dropdown-item'>Hello</li>
        <hr class="dropdown-divider"> {% endcomment %}
        
    </ul>
</li>



{{ room_name|json_script:"room-name" }}
<script>
    const roomName = JSON.parse(document.getElementById('room-name').textContent);

    const notificationSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/notification/' + roomName + '/'
    );

    notificationSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        //document.querySelector('#chat-log').value += (data.message + '\n');
        console.log(data);
        document.getElementById("notifications-dropdown").innerHTML = "<li class='dropdown-item'>" + data + "</li><hr class='dropdown-divider'>" + document.getElementById("notifications-dropdown").innerHTML;
        document.getElementById("notification-badge").innerHTML = parseInt(document.getElementById("notification-badge").innerHTML) + 1;
    };

    notificationSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

</script>