{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block css %}
{% endblock %}

{% block body %}
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        <form action="{% url 'MyBlog:edit_category' pk=category.pk %}" method="POST">
            <div class="modal-content">
                <div class="modal-header">
                    Edit Category
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    {% crispy form %}
                </div>  
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                    <button class="btn btn-primary">Update Category</button>
                </div>
            </div>
        </form>
    {% endwith %}
{% endblock %}