{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block body %}
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
        {% comment %} <form action="{% url 'myblog:adverts' %}" enctype="multipart/form-data" method="POST">  {% endcomment %}
        <form action="{{request.path}}" enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h5>Across Globe Ads</h5>
                </div>
                <div class="modal-body row">
                    <div class="col-sm-7 my-2">
                        <div class="row col-sm-12 mt-2 mb-2">
                            <div class="col-sm-4"><label for="{{ form.urllink.id_for_label }}" class="form-label"><b>Landing Page:</b></label></div>
                            <div class="col-sm-8">{% render_field form.urllink class="form-control" placeholder="http://www." %}</div>
                            <div class="invalid-feedback">{{ form.urllink.errors|first }}</div>
                        </div>
                        <div class="row col-sm-12 mb-1 text-center">
                            <p style="font-size:14px">(the website your banner ad should take anyone who clicks on it)</p>
                        </div>

                        <div class="row col-sm-12 mb-1">
                            <div class="col-sm-4"><label for="{{ form.image.id_for_label }}" class="form-label"><b>Ad Banner:</b></label></div>
                            <div class="col-sm-8">{% render_field form.image class="form-control" placeholder="" %}</div>
                            <div class="invalid-feedback">{{ form.image.errors|first }}</div>
                        </div>
                        <div class="row col-sm-12 text-center">
                            <p style="font-size:14px">
                                Ads should be 318 pixels wide, 106 pixels tall, less than 30KB in size,and in the JPG or PNG format.
                                <br>
                                They should have a clear message, legible text, your name/brand/logo/url, good design and no border.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-5 shadow" style="height: 42vh; overflow-y: auto; font-size:15px">
                        <p><b>READ ME!!!</b></p>
                        <p>Thank you for your interest in advertising on Across Globe!</p>
                        <p class="text-justify">Across Globe runs a <b>Targeted Ad Platform</b> with which any registered member 
                            can place adverts on any section where the people you want to reach are most likely to be found 
                            (for example, a political party could place ads on the politics section).
                        </p>
                        <p><b>To place adverts,</b>
                            <p>1. Design your ad banner by an excellent graphic designer. </p>
                            <p>2. A borderless ad banner, 318 pixels wide, 106 pixels tall, less than 30kb in size, and in PNG or JPG format. </p>
                            <p>3. Once it's ready, on your left hand side upload your banner ad and landing page. Your banner will be reviewed for approval.</p> 
                            <p>4. Note: Your ad might not be approved if it's deceptive, illegal or questionable.</p>
                        </p>
                        <p class="text-justify">After your ad is approved, we will provide you with information about how to purchase advertising credits 
                            so you can freely place your ads on any section of Across Globe - including the home page.
                        </p>
                        <p class="text-justify">Please see our <a href="#"><b>Estimated Advertising Rates</b></a> to find out how much it'll cost to advertise on the various 
                            sections (prices on the short term are strongly correlated with traffic levels). 
                            Billing takes place every few minutes and you will get detailed reports on unique clicks and views 
                            and charges for each ad/section and for your entire account over various time periods.
                        </p>
                        <p>Looking forward to doing business with you!</p>
                        <p>
                            Best regards,<br>
                            <b>Across Globe Mgt.</b>
                        </p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                    <button type="submit" class="submit-btn btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    {% endwith %}
{% endblock %}


{% block js %}
    
{% endblock %}