{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block css %}

{% endblock %}

{% block body %}    
    <div class="modal-content">
        <div class="modal-header">
            <h5>Statistics</h5>
        </div>
        <div class="modal-body" style="height: 80vh; overflow-y: auto;">
            
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
        </div>
    </div>       
{% endblock %}
