{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block css %}
{% endblock %}

{% block body %}
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
    {% comment %} <form action= "{{request.path}}" enctype="multipart/form-data" class="modal-content" method="POST"> {% endcomment %}
    <form action="{{request.path}}" enctype="multipart/form-data" class="modal-content" method="POST">
        <div class="modal-content">
            <div class="modal-header">
                <h5><a href="/{{post.slug}}/">Re:{{post.title}} - {{category.category_title}}</a></h5>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{ form.media }}
                
                <div class="row col-sm-12">
                    <div class="mb-3">
                        <label for="{{ form.content.id_for_label }}" class="form-label">Message</label>
                        {% render_field form.content class="form-control" placeholder="" %}
                        <div class="invalid-feedback">{{ form.content.errors|first }}</div>
                    </div>

                    <div class="mb-3">
                        Attachments: (maximum size: 4MB for pictures and 250kB for other files)
                    </div>
                    <div>{% crispy formset1 %}</div>
                    <hr>
                    <div>{% crispy formset2 %}</div>
                    <hr>
                    <div>{% crispy formset3 %}</div>
                    <hr>
                    <div>{% crispy formset4 %}</div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                <button type="submit" class="submit-btn btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
    {% endwith %}
{% endblock %}


{% block js %}

{% endblock %}