{% load widget_tweaks %}
{% load crispy_forms_tags %}

{% block css %}
{% endblock %}

{% block body %}
    {% with WIDGET_ERROR_CLASS='is-invalid' %}
    <form action="{{request.path}}" enctype="multipart/form-data" method="POST"> 
        <div class="modal-content">
            <div class="modal-header">
                <h5>New Topic - {{subcategory.title}}</h5>
            </div>
            <div class="modal-body">
                {% csrf_token %}
                {{ form.media }}
                
                <div class="row col-sm-12">
                    <div class="row mb-3">
                        <div class="col-sm-1">
                            <label for="{{ form.title.id_for_label }}" class="form-label">Subject</label>
                        </div>
                        <div class="col-sm-11">
                             {% render_field form.title class="form-control" placeholder="" %}
                        </div>
                        <div class="invalid-feedback">{{ form.title.errors|first }}</div>
                    </div>
    
                    <div class="mb-3">
                        <label for="{{ form.content.id_for_label }}" class="form-label">Message</label>
                        {% render_field form.content class="form-control" placeholder="" %}
                        <div class="invalid-feedback">{{ form.content.errors|first }}</div>
                    </div>

                    <table class="table">
                        <tr><th col-span="4">Attachments: (maximum size: 4MB for pictures and 250kB for other files)</th></tr>
                        <tb>
                            <tr><td>{{ form.image1 }}</td></tr>
                            <tr><td>{{ form.image2 }}</td></tr>
                            <tr><td>{{ form.image3 }}</td></tr>
                            <tr><td>{{ form.image4 }}</td></tr>
                        </tb>
                    </table>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a> 
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div> 
    </form> 
    {% endwith %}
{% endblock %}

{% comment %} {% block js %}
    <script>
        {% if alert %}
        alert('Your Blog is added successfully.');
        document.location = '/';
        {% endif %}
    </script>
{% endblock %} {% endcomment %}


