html { -webkit-text-size-adjust: 100%; line-height:1.5}

/* h1, h2, h3, h4, form, div, p, img { padding: 0; margin: 0; }

h1, h2, h3, h4, h5 { color:#200;
					 font-family: Open Sans, Tahoma, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Arial, sans-serif;}

p { margin: 4px 0 0 0}

table { border-spacing: 0; border: 0; margin:0px; width:100%; padding:5px;}

div.body {max-width:1024px; margin: 0px auto; width:100%;}

th, td { padding: 6px 8px;
         background: #e8ece0;
         text-align: center;
         border: 1px solid #c8ccc0;
         border-bottom-width: 0px;
         overflow: hidden;
}

tr:first-child td, tr:first-child th {
    border-top-left-radius: 12px; border-top-right-radius: 12px;
}
tr:last-child td {
    border-bottom: 1px solid #c8ccc0;
    border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;
}
td.w, tr.w { background: #f6f6ec;}
td.pd {border-bottom-left-radius: 12px; border-bottom-right-radius: 12px;}
td.pu {border-top-left-radius: 12px; border-top-right-radius: 12px;} */

/*html { -webkit-text-size-adjust: 100%; line-height:1.5}*/


/* html { line-height:1.5}
div.body {max-width:1024px; margin: 0px auto; width:100%;}

tr:first-child td, tr:first-child th, tr:last-child td, th:last-child td, td:first-child, td:last-child, div.vertipics img {
	box-shadow: 1px 1px 7px #c8c8c8;
}  */


/* 
@media screen and (max-width: 320px) and (orientation: portrait) {
	table { padding: 4px 0px;}
	th, td { border: 0px; border-top: 1px solid #c8ccc0; padding: 6px 0px;}
	tr:first-child td, tr:first-child th { border-top-left-radius: 0px; border-top-right-radius: 0px; }
	tr:last-child td { border-bottom: 1px solid #c8ccc0; border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
	td.pd {border-bottom-left-radius: 0px; border-bottom-right-radius: 0px;}
	td.pu {border-top-left-radius: 0px; border-top-right-radius: 0px;}
}

form.inline { display: inline }
img.img { padding:0; margin:0;}

@media screen and (min-width:  240px){ img.img, div.narrow { max-width:  208px }}
@media screen and (min-width:  320px){ img.img, div.narrow { max-width:  320px }}
@media screen and (min-width:  340px){ img.img, div.narrow { max-width:  320px }}
@media screen and (min-width:  360px){ img.img, div.narrow { max-width:  328px }}
@media screen and (min-width:  375px){ img.img, div.narrow { max-width:  342px }}
@media screen and (min-width:  411px){ img.img, div.narrow { max-width:  379px }}
@media screen and (min-width:  414px){ img.img, div.narrow { max-width:  382px }}
@media screen and (min-width:  480px){ img.img, div.narrow { max-width:  448px }}
@media screen and (min-width:  512px){ img.img, div.narrow { max-width:  480px }}
@media screen and (min-width:  640px){ img.img, div.narrow { max-width:  608px }}
@media screen and (min-width:  768px){ img.img, div.narrow { max-width:  736px }}
@media screen and (min-width: 1024px){ img.img, div.narrow { max-width:  976px }}
@media screen and (min-width: 9999px){ img.img, div.narrow { max-width:  976px }}

#postform input[type=text], #postform textarea {
    min-width: 80px; margin: 0px auto; width: 100%;
    -webkit-box-sizing: border-box; /* safari/chrome, other webkit *
    -moz-box-sizing: border-box;    /* firefox, other gecko *
     box-sizing: border-box;
    border: 1px solid #c8ccc0;
    border-radius: 12px;
}

input[type=text], input[type=submit], textarea {
	border: 1px solid #c8ccc0; border-radius: 12px; background:#fff; padding: 2px 7px;}
input[type=submit]:hover {background:#e8ece0;}
select {border: 1px solid #c8ccc0; background:#fff;}
select, input[type=file], input[type=submit], input[type=checkbox] {cursor: pointer}
textarea {padding: 5px;}
td.grad, .grad { background-color: #f6f6ec; margin: 6px;}

.grad input[type=text], input[type=text].central {  margin: 0px auto; min-width: 90px; width: 50%;}

.grad img {margin: 6px 0 3px 0; padding-bottom: 3px;}

.grad img:hover {margin: 6px 0 3px 0; padding-bottom: 1px; border-bottom: 2px solid #185518;}

body, td, th, div, button.button-link, input, textarea {
    font-family: Open Sans, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
    font-size: 11pt; margin: 0px;
}
button, input, textarea {color: #000;}
body { text-align: center; background: #fff;}

@media (prefers-color-scheme:dark) {
	body {background: #ccc; filter: brightness(0.8) saturate(1.25)}
}

div.container {
    max-width: 1024px; margin-left: auto; margin-right: auto; padding: 6px; background-color: #fff;
    border-left: 1px solid gray; border-right: 1px solid gray;
}

a{color:#181870; text-decoration: none; word-break: break-word;}
a:visited {color:#401848;}
a:hover { text-decoration:underline}
a.m, .m { color: #44b; }
a.f, .f { color: #b4b; }
a.user, .user a, .featured td { color:#551818; }
td.homeuser, td.homeuser a, td.homeuser span, div.sig{font-size: 9.5pt;}
td.homeuser h3 { font-size: 13.5pt; color:#000}
td.homeuser a {color:#551818}
td.featured { color:#551818}
a:visited img.nnn {display: none}
hr {border: none; margin: 3px; height: 1px;
	background: #d9d9d9; background: linear-gradient(90deg,#f6f6ec,#d9d9d9,#d9d9d9,#f6f6ec)}

.s { font-size: 9.5pt; color:#555518 }
.s a {font-size: 9.5pt; color:#551818 }
.b { font-size: 12.5pt; }
.g { color:#185518; }

.u { font-weight: normal }
.bl{ background-color: #6b8eae}
.button-link { border: none; background-color: transparent; text-decoration: underline; cursor: pointer; padding: 0; }
td.l, .l {text-align: left}
td.friends { padding-top: 0px; padding-bottom: 0px; }
td.messages { padding-left: 20px; }
td.gr, td.gr span, td.gr a { color: grey }
.friend {border:1px solid #999100; padding:4px; white-space: nowrap; background-color: white}
.friend a {text-decoration: none}

.highlight {font-weight: bold; font-size:13.5pt; background-color: yellow}

span.bold a, p.bold a, a.bold, td.bold a {font-weight: bold}

span.eb img {background-image:url("/icons/bg.gif");
  background-repeat: no-repeat; width:23px; height:22px;}
span.eb:hover img {background-image:url("/icons/hoverbg.gif");}

img.faces {width:15px; height:15px;}



.small, td.small{font-size:9.5pt}
td.sig{padding:3px 6px 5px 6px; font-size:9.5pt; color:grey}
.upd {background: #993; padding:1px;}
.frupd {background: #399; padding:1px;}

div.narrow {margin: 0px auto 0px 0px;}

iframe.youtube { width: 420px; height: 280px; max-width: 92%}

.noisy { color: #b00; font-weight: bold}

.pushleft{margin: 0px 0px 0px -8px;}
.pushleft2{margin: 0px 0px 0px -2px;}

.manual{margin: 0 -8px;}
.manual span {padding-left: 6px; padding-right: 6px;}

p.nocopy, div.nocopy, td.nocopy {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	/* user-select: none;*
}


div.webdesigners {margin: 0px auto; padding: 0px; max-width: 850px;}
div.webdesigners img { margin: 6px; padding: 0px; width: 154px; height:95px; background: url('/static/white.png') no-repeat;}
@media screen and (max-width: 320px) { 
	div.webdesigners {margin: 0px 0px;} 
	div.webdesigners img {margin: 2px 2px;}
} */

/* div.vertipics img { margin: 6px; padding: 0px; width: #d7e0c9 318px; height:106px; background: url('/static/white.png') no-repeat; border: 1px solid #c6ccbe; border-radius: 10px;} */


div.vertipics img { margin: 6px; padding: 0px; width: 318px; height:106px; border: 1px solid #c6ccbe; border-radius: 10px;}

@media screen and (max-width: 1024px) {
	div.vertipics img {margin: 8px 3px;}
}

@media screen and (max-width: 360px) { 
	div.vertipics img {margin: 8px -8px;}
}

a { color:#4141e9; text-decoration: none; word-break: break-word; font-size: 17px; font:300 }
a:visited {color:#401848; font-size: 17px; font:300 }
a:hover { text-decoration:underline;  font-size: 17px; font:300 }
a.m, .m { color: #44b; font-size: 17px; font:300 }
a.f, .f { color: #b4b; font-size: 17px; font:300 }
a.s, .s { color: #b4b; font-size: 15px; }
a.user, .user a, .featured a { color:#551818; font-size: 17px; font:bolder } /*#898F9C*/

/* Used for highlighting search words */
.highlight {
	background-color: yellow;
}

/* btn */

.btn-primary {
	color: #fff;
	background-color: #4267B2;
	border-color: #4267B2;
  }
  .btn-primary:hover {
	color: #fff;
	background-color: #4267B2;
	border-color: #4267B2;
  }
  .btn-check:focus + .btn-primary, .btn-primary:focus {
	color: #fff;
	background-color: #4267B2;
	border-color: #4267B2;
	box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
	color: #fff;
	background-color: #4267B2;
	border-color: #4267B2;
  }
  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
	box-shadow: 0 0 0 0.25rem rgba(49, 132, 253, 0.5);
  }
  .btn-primary:disabled, .btn-primary.disabled {
	color: #fff;
	background-color: #0d6efd;
	border-color: #0d6efd;
  }


  /* Paging */

  .page-item:not(:first-child) .page-link {
	margin-left: -1px;
  }
  .page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #4267B2;
	border-color: #4267B2
  }
  .page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	background-color: #fff;
	border-color: #dee2e6;
  }
  
  .page-link {
	padding: 0.375rem 0.75rem;
  }
  
  .page-item:first-child .page-link {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
  }
  .page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
  }
  
  .pagination-lg .page-link {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
  }
  .pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
  }
  .pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
  }
  .pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
  }
  .pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
  }


  /* Page Link*/
  .page-link {
	position: relative;
	display: block;
	color: #4267B2;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #dee2e6;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
	.page-link {
	  transition: none;
	}
  }
  .page-link:hover {
	z-index: 2;
	color: #4267B2;
	background-color: #e9ecef;
	border-color: #dee2e6;
  }
  .page-link:focus {
	z-index: 3;
	color: #4267B2;
	background-color: #e9ecef;
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .page-item:not(:first-child) .page-link {
	margin-left: -1px;
  }
  .page-item.active .page-link {
	z-index: 3;
	color: #fff;
	background-color: #4267B2;
	border-color: #4267B2;
  }
  .page-item.disabled .page-link {
	color: #6c757d;
	pointer-events: none;
	background-color: #fff;
	border-color: #dee2e6;
  }
  
  .page-link {
	padding: 0.375rem 0.75rem;
  }
  
  .page-item:first-child .page-link {
	border-top-left-radius: 0.25rem;
	border-bottom-left-radius: 0.25rem;
  }
  .page-item:last-child .page-link {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0.25rem;
  }
  
  .pagination-lg .page-link {
	padding: 0.75rem 1.5rem;
	font-size: 1.25rem;
  }
  .pagination-lg .page-item:first-child .page-link {
	border-top-left-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
  }
  .pagination-lg .page-item:last-child .page-link {
	border-top-right-radius: 0.3rem;
	border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
	padding: 0.25rem 0.5rem;
	font-size: 0.875rem;
  }
  .pagination-sm .page-item:first-child .page-link {
	border-top-left-radius: 0.2rem;
	border-bottom-left-radius: 0.2rem;
  }
  .pagination-sm .page-item:last-child .page-link {
	border-top-right-radius: 0.2rem;
	border-bottom-right-radius: 0.2rem;
  }


  /* Container */

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }
  
  @media (min-width: 576px) {
	.container {
	  max-width: 540px;
	}
  }
  
  @media (min-width: 768px) {
	.container {
	  max-width: 720px;
	}
  }
  
  @media (min-width: 992px) {
	.container {
	  max-width: 960px;
	}
  }
  
  @media (min-width: 1200px) {
	.container {
	  max-width: 1140px;
	}
  }
  
  .container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
  }

.navbar > .container,
.navbar > .container-fluid {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.navbar-brand:hover, .navbar-brand:focus {
  text-decoration: none;
}

.navbar-nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
}

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.navbar-toggler:hover, .navbar-toggler:focus {
  text-decoration: none;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-sm .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-sm .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-sm .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-sm .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 768px) {
  .navbar-expand-md {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-md .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-md .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-md .navbar-toggler {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
}

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (min-width: 1200px) {
  .navbar-expand-xl {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-xl .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .navbar-expand-xl .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-xl .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .navbar-expand-xl .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }
  .navbar-expand-xl .navbar-toggler {
    display: none;
  }
}

.navbar-expand {
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.navbar-expand .navbar-nav {
  -ms-flex-direction: row;
  flex-direction: row;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-expand .navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.navbar-expand > .container,
.navbar-expand > .container-fluid {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar-expand .navbar-collapse {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.navbar-expand .navbar-toggler {
  display: none;
}

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: rgba(0, 0, 0, 0.7);
}

.navbar-light .navbar-nav .nav-link.disabled {
  color: rgba(0, 0, 0, 0.3);
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5);
}

.navbar-light .navbar-text a {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
  color: rgba(0, 0, 0, 0.9);
}

.navbar-dark .navbar-brand {
  color: #fff;
}

.navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
  color: rgba(255, 255, 255, 0.75);
}

.navbar-dark .navbar-nav .nav-link.disabled {
  color: rgba(255, 255, 255, 0.25);
}

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
}

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5);
}

.navbar-dark .navbar-text a {
  color: #fff;
}

.navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
  color: #fff;
}

/* Event app css   */

body {
  background-color: #fbfbfb;
}
@media (min-width: 991.98px) {

  main {
    width: 100%;
    padding-left: 120px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}



/*a:link, a:visited {
	text-decoration: none;
	color: olive;
	font-size: medium;
}

a:hover, a:active {
	text-decoration: underline;
	color: olive;
	font-size: medium;
}
  

 .campaign_stats span, .ad_details span{
 	margin-right: .5%;
}
.green{
	color: green;
}
.orange{
	color: orange;
}
.red{
	color: red;
}
.vertiborder{ border: 1px solid #c6ccbe; border-radius: 10px; padding: 0;}

td.grad h1 {
	margin-top: -4px;
}
table th h3 {
	margin: -4px 0px;
} */


/* Colour Source: https://colorhunt.co/ */

blockquote{margin: 1px; background-color: #e6eaec; border: 1px #c6ccbe solid; padding: 4px 6px; border-radius: 10px;}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.5rem;
  }

  .card-header {
	padding: 0.5rem 1rem;
	margin-bottom: 0;
	background-color: #E1E8ED;
	border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-header:first-child {
	border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
  }

  .card-body {
	flex: 1 1 auto;
	padding: 1rem 1rem;
  background-color: #fff;
	/*background-color: #F5F8FA;*/
  }
  
  .card-footer {
	padding: 0.5rem 1rem;
	background-color: rgba(0, 0, 0, 0.03);
	border-top: 1px solid rgba(0, 0, 0, 0.125);
  }
  .card-footer:last-child {
	border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
  }

 


  .card > hr {
	margin-right: 0;
	margin-left: 0;
  }
  .card > .list-group {
	border-top: inherit;
	border-bottom: inherit;
  }
  .card > .list-group:first-child {
	border-top-width: 0;
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
  }
  .card > .list-group:last-child {
	border-bottom-width: 0;
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px);
  }
  .card > .card-header + .list-group,
  .card > .list-group + .card-footer {
	border-top: 0;
  }
  

  
  .card-title {
	margin-bottom: 0.5rem;
  }
  
  .card-subtitle {
	margin-top: -0.25rem;
	margin-bottom: 0;
  }
  
  .card-text:last-child {
	margin-bottom: 0;
  }
  
  .card-link + .card-link {
	margin-left: 1rem;
  }
  

  
  .card-header-tabs {
	margin-right: -0.5rem;
	margin-bottom: -0.5rem;
	margin-left: -0.5rem;
	border-bottom: 0;
  }
  
  .card-header-pills {
	margin-right: -0.5rem;
	margin-left: -0.5rem;
  }
  
  .card-img-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	border-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-top,
  .card-img-bottom {
	width: 100%;
  }
  
  .card-img,
  .card-img-top {
	border-top-left-radius: calc(0.25rem - 1px);
	border-top-right-radius: calc(0.25rem - 1px);
  }
  
  .card-img,
  .card-img-bottom {
	border-bottom-right-radius: calc(0.25rem - 1px);
	border-bottom-left-radius: calc(0.25rem - 1px);
  }
  
  .card-group > .card {
	margin-bottom: 0.75rem;
  }
  @media (min-width: 576px) {
	.card-group {
	  display: flex;
	  flex-flow: row wrap;
	}
	.card-group > .card {
	  flex: 1 0 0%;
	  margin-bottom: 0;
	}
	.card-group > .card + .card {
	  margin-left: 0;
	  border-left: 0;
	}
	.card-group > .card:not(:last-child) {
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
	}
	.card-group > .card:not(:last-child) .card-img-top,
  .card-group > .card:not(:last-child) .card-header {
	  border-top-right-radius: 0;
	}
	.card-group > .card:not(:last-child) .card-img-bottom,
  .card-group > .card:not(:last-child) .card-footer {
	  border-bottom-right-radius: 0;
	}
	.card-group > .card:not(:first-child) {
	  border-top-left-radius: 0;
	  border-bottom-left-radius: 0;
	}
	.card-group > .card:not(:first-child) .card-img-top,
  .card-group > .card:not(:first-child) .card-header {
	  border-top-left-radius: 0;
	}
	.card-group > .card:not(:first-child) .card-img-bottom,
  .card-group > .card:not(:first-child) .card-footer {
	  border-bottom-left-radius: 0;
	}
  }*/


/* Drop Down Mouse Hover Menu */

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }
	.navbar .nav-item:hover .nav-link{   }
	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}	

/* ============ desktop view .end// ============ */