
    <p><b class="text-danger">READ ME!!!</b></p>
    <p>Much obliged to you for your interest in promoting on Across Globe!</p>
    <p class="text-justify">Across Globe runs a <b>Designated Promotion Stage</b> with which any Across Globe registered member can 
        put adverts on segments where individuals to be reachead are probably going to be found 
        (for instance, an ideological group could put promotions on the Politics segment).
    </p>
    <p><b>To place adverts,</b>
        <p>1. Design your promotion banner by an excellent visual designer. </p>
        <p>2. A borderless promotion pennant(banner), 318 pixels wide, 106 pixels tall, under 30kb in size, and in PNG or JPG format. </p>
        <p>3. Once it's ready, on your left hand side upload your banner ad and landing page. Your banner will be reviewed for approval.</p> 
        <p>4. Note: Your promotion probably won't be endorsed assuming it's dishonest, unlawful or ethically problematic.</p>
    </p>
    <p class="text-justify">After your promotion is endorsed, we will give you information about how to buy publicizing credits so you can openly 
        put your advertisements on any segment of Across Globe - including the home page.
    </p>
    <p class="text-justify">See our <a href="/en/campaign/adrate/"><b>Accessed Promoting Rates</b></a> to figure out the amount 
        it'll cost to publicize on the different segments of Across Globe on the long run (costs on the present moment are unequivocally 
        related with traffic levels). Charging happens like clockwork and you will get detailed report about unique clicks and views 
        and charges for every promotion/segment and for your whole account throughout different time spans.
    </p>
    <p>We are eager to conduct business with you!</p>
    <p>
        Best regards,<br>
        <b>Across Globe Mgt.</b>
    </p>
