{% load i18n %}
{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% comment %} <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> {% endcomment %}
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" />
    {% comment %} <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    {% endcomment %}

    <!-- AcrossGlobe CSS -->
    <link href="/static/css/AcrossGlobe.css" rel="stylesheet" type="text/css">
    <link href="/feed" rel="alternate" type="application/rss+xml" title="AcrossGlobe">
    <meta name="google-site-verification" content="KUABan1rWBhK3Jb2LePxHAv00FEbbM1wQMAAgsN-EyA">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    

    <title> {% block title %} {% endblock %} </title> 
    <link rel="icon" type="media/png" href="/media/logo/acrossglobelogo.png"/>
    <style> 
    {% block css %} 
     
    {% endblock %} 
  </style>
  </head>
  <body> 
    {% comment %} {% include 'blog/header.html' %} {% endcomment %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top" style="background-color: #deeff5;">
      <div class="container-fluid">
        {% comment %} <a class="navbar-brand" href="/">
          <img src="/media/logo/acrossglobelogo.png" alt="..." width="70px" height="50px">
        </a> {% endcomment %}
        <div class="navbar-header">
          <b><a class="navbar-brand" href="/">Across Globe</a></b>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
  
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <div class="container mx-3 navbar-right">
            <ul class="nav navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                      <a class="nav-link active" href="/">{% trans "Welcome" %} {{request.user}}</a>
                    </li>
                  {% else %}
                    <a class="nav-link active">{% trans "Welcome," %} <b>Guest:<a href="#" class="nav-link active {% block registeractive %} {% endblock registeractive %}" type="link" hx-get="{% url "register" %}" hx-target="#dialog">{% trans "Register here" %}</a></b></a>
                    {% comment %} <li class="nav-item">
                      <a class="nav-link {% block registeractive %} {% endblock registeractive %}" href="{% url "register" %}">{% trans "Register" %}</a> 
                      <a href="#" class="nav-link {% block registeractive %} {% endblock registeractive %}" type="link" hx-get="{% url "register" %}" hx-target="#dialog">{% trans "Register" %}</a>
                    </li>{% endcomment
                    <li class="nav-item">
                      {% comment %} <a class="nav-link {% block loginactive %} {% endblock loginactive %}" href="{% url "login" %}">{% trans "Login" %}</a> 
                      <a href="#" class="nav-link {% block loginactive %} {% endblock loginactive %}" type="link" hx-get="{% url "login" %}" hx-target="#dialog">{% trans "Login" %}</a>
                    </li>{% endcomment %}
                {% endif %}
                <li {% if section == "people" %}class="selected"{% endif %}>
                  {% comment %} <a class="nav-link active" href="#" hx-get="{% url "user_list" %}" hx-target="#dialog">{% trans "Registered Users" %}</a> {% endcomment %}
                  <a class="nav-link active" href="#" hx-get="/account/users/" hx-target="#dialog">{% trans "Registered Users" %}</a>
                </li>

            </ul>
          </div>
         
          <div class="col-sm-4">
            <form class="d-flex" method="POST" action="{% url 'MyBlog:search' %}"> 
              {% csrf_token %}
              <input class="form-control me-2" type="search" placeholder="Search" name="searched" id="searched" aria-label="Search">
              <button href="{% url 'MyBlog:search' %}" class="btn btn-outline-light" type="submit">{% trans "Search" %}</button>
            </form>
          </div> 

          {% include "blog/partial_language_selector.html" %}
          {% include "blog/partial_welcome.html" %}

        </div>
      </div>
    </nav>

    <div class="container">
      {% block body %}

      {% endblock %}
    </div>

    <div hx-trigger="load, postChanger from:body" hx-get="en/account/user_login" hx-target="this"></div>

    <!-- MODAL POPUP PLACEHOLDER tabindex="-1"-->
    <div id="modal" class="modal fade" data-bs-focus="false">
      <div id="dialog" class="modal-dialog modal-lg" hx-target="this" style="overflow-y: initial !important">
        <!-- inject HTML here -->
      </div>
    </div>

    <!-- Empty toast to show the message -->
    {% comment %} <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11" data-bs-autohide="false"> {% endcomment %}
    <div class="toast-container position-fixed top-0 end-0 p-3" data-bs-autohide="false">
      <div id="toast" class="toast align-items-center text-white bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
        
        <div class="toast-header">
          <img src="..." class="rounded me-2" alt="...">
          <strong class="me-auto">Bootstrap</strong>
          <small>11 mins ago</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>

        <div class="d-flex">
          <div id="toast-body" class="toast-body"></div>
          <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
      </div>
    </div>

    <footer class="bg-primary text-center mt-4">{% comment %} fixed-bottom  {% endcomment %}
      <div class="row">
        <div class="mx-auto col-10 col-md-8 col-lg-6 mt-2">
          <form class="d-flex" method="POST" action="{% url 'MyBlog:search' %}"> 
            {% csrf_token %}
            <input class="form-control me-2" type="search" placeholder="Search" name="searched2" id="searched2" aria-label="Search">
            <button href="{% url 'MyBlog:search' %}" class="btn btn-outline-light" type="submit">{% trans "Search" %}</button>
          </form>
        </div>
      </div>
        © Copyright 2023 Powered by <a class="text-light" href="/">White Oceans.</a>  All rights reserved.<br>
        <b>Disclaimer:</b> You are responsible for your posts.
    </footer>


    <!--  JAVA Scripts  -->
    {% comment %} <script src="https://unpkg.com/htmx.org@1.7.0"></script> 
    <script src="https://cdn.jsdeliver.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script> {% endcomment %}
    <script src="{% static 'bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js' %}"></script> 
    <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
    <script src="{% static 'dialog.js' %}"></script> 
    <script src="{% static 'toast.js' %}"></script>

    
    <!-- Please leave these lines below, used to manage like and unlike posts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.1/src/js.cookie.min.js"></script>
    <script>
      var csrftoken = Cookies.get('csrftoken');
      function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
      }
      $.ajaxSetup({
        beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
        }
      });
      $(document).ready(function(){
        {% block domready %}

        {% endblock %}
      });
    </script>
    {% comment %} <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
       {% endcomment %}
    {% block js %} 
    {% endblock %}
  </body>
</html>